._4hog{display:inline-block}
.sp_1n9pQ7qFWxu{background-image:url(/rsrc.php/v3/yI/r/THq7eyfQLlo.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:20px;width:20px}.sp_1n9pQ7qFWxu.sx_a887b1{background-position:0 0}.sp_1n9pQ7qFWxu.sx_62fa23{background-position:0 -21px}

#bootloader_lL_VA{height:42px;}.bootloader_lL_VA{display:block!important;}